@media(max-width:576px){
	.menu1{
		display: none;
	}
	.submenu{
		display: flex;
	}
	.menu{
		background: #000;
		padding: 20px 15px 15px;
		width: 100%;

	}
	.header-mas2{
		padding: 50px 0;
	}

	.aekd{
		padding-left: 0;
		justify-content: center;
		align-items: center;
	}
	.fa{
		padding-left: 0;
		display: block;
	}
	.md0{
		padding-left: 0;
		display: block;
	}
	.roti{
		display: block;
		align-items: center;
		justify-content: center;
	}
	.aeka{
		text-align: center;
	}
	.aekt,.aekk{
		display: block;
		padding: 1%;
		align-items: center;
		text-align: center;
	}
	.q2{
		border: 1px solid #36393A;
	}
	.x1{
		display: block;
		padding: 0%;
	}
	.xa{
		padding: 5% 0%;
	}
}
