@font-face{
	font-family: q1;
	src:url(../font/1.woff2);
}
@font-face{
	font-family: q2;
	src:url(../font/1.woff2);
}
@font-face{
	font-family: q3;
	src:url(../font/1.woff2);
}
@font-face{
	font-family: q4;
	src:url(../font/1.woff2);
}